<div id="<%= dom_id project %>">
  
  <div class="relative z-10 flex w-full items-center justify-center rounded-xl overflow-hidden shadow-md">
    <img src="<%= url_for(project.thumbnail) %>"/>
  </div>
  
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= project.year %>
  </p>

  <strong>Category:</strong>
    <%= project.category %>
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

</div>
