<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <p class="underline"><%= link_to "Edit this project", edit_project_path(@project) %></p>
  <p class="underline"><%= link_to "Back to projects", projects_path %></p>
  <p class="underline"><%= button_to "Destroy this project", @project, method: :delete %></p>
</div>
